*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
}


.nav-logo{
    height: 60px;
    width: 113px;
}

.logo{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 113px;
    margin-top: 3px;
    cursor: pointer;}

.border{
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white; }

.nav-address{
    height: 50px;
    width: 100px;
}

.address-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 20px;
    margin-top: 8px;
}

.address-second{
font-size: 0.9rem;
margin-left: 2px;
}

.add-icon{
    display: flex;
    align-items: center;
    margin-left: 4px;
}


.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 700px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #e6e6e6;
    width: 60px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
    padding-right: 4px;
    border: none;
    font-size: 0.8rem;
    color: #969090;
}

.search-input{
    width: 100%;
    padding-left: 5px;
    border: none;
    font-size: 1rem;
}

.search-icon{
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


.search-icon:hover{
    background-color: #f39b29;
}

.nav-search:hover{
border: 1px solid orange;
}

.country-div{
    display: flex;
}


.country-div {
height: 50px;
width: 60px;
display: flex;
justify-content: center;
align-items: center;
}


.india-logo{
    height: 15px;
    width: 20px;
    margin-right: 5px;
    background-image: url("images/india.png");
    background-size: cover;
}


.country-div p{
    font-weight: 700;
    font-size: 0.8rem;
}

.nav-signin{
    height: 50px;
    width: 130px;
}

.nav-signin p{
    margin:5px 0px -5px 15px;
}

span{
    font-size: 0.8rem;
}

.nav-second{
    font-size: 0.9rem;
    font-weight: 700;
}


.nav-cart-outer{
    height: 50px;
    width: 80px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-cart i{
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}


.panel{
    height:40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.panel-ops p{
    display: inline;
    margin: 0px 10px;
}


.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font: 0.9rem;
    font-weight: 700;
}

.hero-section{
     height: 400px;
    background-image: url("images/hero.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-message p a{
text-decoration: none;
color: #007185;
}

.shop-session{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
background-color:rgb(255, 255, 133);
}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-image{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
}

footer{
    margin-top: 50px;
}

.footer-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

.footer-panel2{
    display: flex;
    justify-content: space-evenly;
    background-color: #222f3d;
    color: white;
    height: 300px;
}

ul{
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color:#dddddd;
}

.footer-panel3{
    height: 70px;
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.footer-panel4{
    height: 80px;
    background-color: #0f1111;
    color: white;
    text-align: center;
    font-size: 0.8rem;
}

.pages{
padding-top: 25px;
}

.copyright{
padding-top: 5px;
}

.footer-panel4  a{
    color: white;
    text-decoration: none;
}